:root {
    --app-background: rgba(245, 250, 255, 0.33);
    --controls-background: rgba(255, 252, 252, 0.25);
    --controls-highlight: orange;
    --color-sep: blue;
    --color-dark: #1a1a1a;
    --color-light: white;
}

body {
    color: var(--color-dark);
    background-color: var(--app-background);
}

/* horizontal separators */
hr {
    background: var(--color-sep);
    height: 1px;
    opacity: 1;
}

/* buttons */
.btn {
    border-radius: .75em;
}

/* background of divs with controls for user */
.controlsbox {
    background-color: var(--controls-background);
    color: var(--color-dark);
    border: .1em dashed var(--controls-highlight);
    border-radius: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

  