:root {
    --app-background: white;
    --info-background: white;
    --info-head: #ffd79b;
    --info-highlight: #ff9900;
    --color-dark: #1a1a1a;
    /*#1a1a1a;*/
}

body {
    color: var(--color-dark);
    background-color: var(--app-background);
}


/* titles on pages */

h3 {
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}


/* horizontal separators */

hr {
    background: linear-gradient(135deg, #adcc00, #1b0370);
    height: 1px;
    opacity: 1;
}

hr.margined {
    margin-left: 20px;
    margin-right: 20px;
}


/* buttons */

.btn {
    border-radius: 1em;
}


/* nav bar */

.navbar-dark {
    background-image: linear-gradient(135deg, #adcc00, #1b0370);
    color: #1b0370;
    font-weight: bold;
    font-size: 20px;
    height: 60px;
}

.navbar-dark:hover {
    color: white;
}


/* background of divs with informatin for user */

.infobox {
    background-color: var(--info-background);
    color: var(--color-dark);
    border: .2em solid var(--info-highlight);
    border-radius: 2em;
    padding-top: .7em;
    padding-bottom: .7em;
    padding-left: .2em;
    padding-right: .2em;
    margin-left: 2em;
    margin-right: 2em;
}


/* background of divs with informatin for user */

.inputbox {
    background-color: var(--input-background);
    color: var(--color-dark);
    border: .2em solid var(--input-highlight);
    border-radius: 2em;
    padding-top: .7em;
    padding-bottom: .7em;
    padding-left: .7em;
    padding-right: .7em;
    margin-left: 2em;
    margin-right: 2em;
}


/* all tables*/

.nicetable {
    background-color: var(--info-background);
    color: var(--color-dark);
    border-color: var(--color-dark);
}

.nicetable thead th {
    position: sticky;
    top: 0;
    background-color: var(--info-head);
}


/* dataset split calculator table on data input tab */

.splittertable {
    background-color: var(--input-background);
    color: var(--color-dark);
    border-color: var(--color-dark);
}

.splittertable thead th {
    position: sticky;
    top: 0;
    background-color: var(--input-head);
}


/* overflow and height control for responsive tables*/

.table-responsive {
    overflow-y: auto;
    max-height: 500px;
}

.table-responsive thead th {
    position: sticky;
    top: 0;
}

.col-select {
    border-radius: 1em;
}

  