{% extends "layout.html" %} 
{% block body %}

<div class="container">
    <!-- Dataset info modal -->
    <div class="modal fade" id="dataInfoModal" tabindex="-1">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dataset info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>
                    <b>Dataset generator.</b>
                    This is a generator of synthetic datasets.
                    It is kept simple because the only purpose of the dataset is to 
                    showcase some machine learning capabilities.
                </p>
                <p>
                    <b>Controls.</b>
                    You may choose the number of predictive features and the dataset size (number of rows).
                    Additionally, you may introduce dataset imbalance via target ratio.
                    Finally, you may split data into train and test sets in various ratios.
                </p>
                <p>
                    <b>Datasets.</b>
                    Features are generated according to a multivariate normal distribution with white noise.
                    <br>
                    Feature means are sampled from the uniform distribution on interval (-1,1).
                    Covariance is obtained as a square of a random matrix with entries distributed uniformly on
                    interval (-1/2, 1/2).
                    Noise is generated similarly, with means located at 0, and covariance generated randomly 
                    (equivalent process as for the predictors).
                    <br>
                    To build binary classification targets we sum up values of all the features and assign 
                    target value 1 if the sum is greater than 1/2 and 0 otherwise.
                    (I.e. a row is labelled as a target if the sum of all predictors is greater than 1/2.)
                    Since datasets are multidimensional, to provide some intuition about the data, the plot
                    in the bottom of the app shows targets and non-targets distributed in the space of
                    two main PCA components.
                </p>
                <p>
                    <b>Limitations.</b>
                    To keep things simple, there are no redundant features nor is there control over 
                    feature distributions, correlations, error distributions, or similar parameters.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    <!-- Modeling info modal -->
    <div class="modal fade" id="modelingInfoModal" tabindex="-1">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modeling info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>
                    <b>Random forests.</b>
                    This tool builds Random Forests. For more information about this class
                    of machine learning algorithms see 
                    <a target="_blank" href=https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html>
                    scikit-learn documentation</a>.
                </p>
                <p>
                    <b>Automatic optimization.</b>
                    Use the switch to choose between manual modeling or automatic parameter optimization.
                    Custom choices result in quick model building due to limited dataset size and because only one model is built.
                    Automatic model building consists of two steps - the search for the optimal parameters and model building.
                </p>
                <p>
                    <b>Parameter optimization.</b>
                    The search is performed using <a target="_blank" href="https://scikit-optimize.github.io/stable/">
                    scikit-optimize</a> library. The library enables an easy implementation of Bayesian optimization
                    via Gaussian processes. 
                    <br>
                    The quality of the results should be similar to a random parameter search, 
                    and equal-to-slightly-worse than an exhaustive search. Two key benefits are significantly higher 
                    speed with which the (approximately) optimal parameters are found, and small number of search attempts
                    that are made. (The latter results in higher model reliability. You may think of it as fewer p-value
                    adjustments needed.)
                    <br>
                    The search is performed using bootstrap resampling-based methodology. The original training set is used to 
                    generate 5 training resamples and 5 validation resamples. The original training set thus acts as an empirical
                    distribution from which we sample mock data. 5 models are built and validated, each on its own train and validation
                    sets. The models' f1-scores are evaluated on the validation sets. The median model score is taken to be representative
                    of the score for the given choice of parameters. 15 evaluation steps are made, of which first 5 are randomly chosen,
                    and the further 10 are based on Gaussian process expected improvement. The optimal parameters are returned.
                    <br>
                    After the optimal parameters have been determined, a model with given parameters is trained on the original train set.
                    It is then evaluated both on the train set and the holdout set. These model-building and model-scoring steps are 
                    the same for automatically detemined and manually chosen parameters.
                </p>
                <p>
                    <b>Parameters.</b>
                    A few key parameters may be manually modified: number of estimators (trees), maximum depth per tree, minimum
                    allowed node size, minimum allowed leaf node size, and maximum number of (randomly chosen) features that each
                    estimator has access to.
                </p>
                <p>
                    <b>Model scores.</b>
                    Scores are calculated on the train set and the test set. Test set is a holdout set and is different from the 
                    validation set used in automatic optimization.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="column col-lg-4">
            <div class="controlsbox">
                <H4>Prepare data 
                    <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#dataInfoModal">
                        <i data-feather="info"></i>
                    </button>
                </H4>
                <form method="POST" action="" id="data_form">
                    <label for="ncols" class="form-label">Number of features <span id="features_badge" class="badge rounded-pill bg-secondary">{{data_params['ncols']}}</span> </label>
                    <input id="ncols" name="ncols" type="range" class="form-range" value="{{data_params['ncols']}}" min="1" max="30" step="1" oninput="updateParams(this)">
                    <br>
                    <label for="nrows" class="form-label">Dataset size  <span id="rows_badge" class="badge rounded-pill bg-secondary">{{data_params['nrows']}}</span> </label>
                    <input id="nrows" name="nrows" type="range" class="form-range" value="{{data_params['nrows']}}" min="0" max="1000" step="50" oninput="updateParams(this)">
                    <br>
                    <label for="tgt_ratio" class="form-label">Target share  <span id="target_badge" class="badge rounded-pill bg-secondary">{{data_params['tgt_ratio']}}%</span> </label>
                    <input id="tgt_ratio" name="tgt_ratio" type="range" class="form-range" value="{{data_params['tgt_ratio']}}" min="30" max="70" step="1" oninput="updateParams(this)">
                    <br>
                    <label for="train_ratio" class="form-label">Train-test split  <span id="split_badge" class="badge rounded-pill bg-secondary">{{data_params['train_ratio']}}-{{100-data_params['train_ratio']}}</span> </label>
                    <input id="train_ratio" name="train_ratio" type="range" class="form-range" value="{{data_params['train_ratio']}}" min="0" max="100" step="5" oninput="updateParams(this)">
                    <br>
                </form>
            </div>
        </div>
        <div class="column col-lg-8">
            <H4>Selected dataset</H4>
            <div id="columns_info">There are {{data_params['ncols']}} predictive features.</div>
            <div id="rows_info">There are {{data_params['nrows']}} rows in total.</div>
            <div id="target_info">Target share is {{data_params['tgt_ratio']}}%.</div>
            <div id="split_info">Train-test split is {{data_params['train_ratio']}}-{{100-data_params['train_ratio']}}.</div>
            <div>Detailed breakdown of rows:</div>
            <table id="data_table" class="table table-hover">
                <thead>
                    <th></th>
                    <th>Train set</th>
                    <th>Test set</th>
                    <th>Total</th>
                </thead>
                <tbody>
                    <tr> <td>Target rows</td> <td>200</td> <td>50</td> <td>250</td> </tr>
                    <tr> <td>Non-target rows</td> <td>200</td> <td>50</td> <td>250</td> </tr>
                    <tr> <td>Total rows</td> <td>400</td> <td>100</td> <td>500</td> </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="column col-lg-4">
            <div class="controlsbox">
                <H4>Build Random Forest model
                    <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#modelingInfoModal">
                        <i data-feather="info"></i>
                    </button>
                </H4>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="switch" onchange="switchModeling()" checked="{{data_params['switch']}}">
                    <label class="form-check-label" for="switch">Automatic optimization</label>
                </div>
                <form method="POST" action="" id="model_form">
                    <label for="ntrees" class="form-label">Number of estimators <span id="ntrees_badge" class="badge rounded-pill bg-secondary">{{data_params['ntrees']}}</span> </label>
                    <input id="ntrees" name="ntrees" type="range" class="form-range" value="{{data_params['ntrees']}}" min="0" max="{{data_params['ncols']}}" step="1" oninput="updateParams(this)" disabled>
                    <br>
                    <label for="max_depth" class="form-label">Max tree depth <span id="depth_badge" class="badge rounded-pill bg-secondary">{{data_params['max_depth']}}</span> </label>
                    <input id="max_depth" name="max_depth" type="range" class="form-range" value="{{data_params['max_depth']}}" min="1" max="20" step="1" oninput="updateParams(this)" disabled>
                    <br>
                    <label for="min_samples_split" class="form-label">Min node size <span id="nodesize_badge" class="badge rounded-pill bg-secondary">{{data_params['min_samples_split']}}</span> </label>
                    <input id="min_samples_split" name="min_samples_split" type="range" class="form-range" value="{{data_params['min_samples_split']}}" min="0" max="{{data_params['nrows']//2}}" step="5" oninput="updateParams(this)" disabled>
                    <br>
                    <label for="min_samples_leaf" class="form-label">Min leaf size <span id="leafsize_badge" class="badge rounded-pill bg-secondary">{{data_params['min_samples_leaf']}}</span> </label>
                    <input id="min_samples_leaf" name="min_samples_leaf" type="range" class="form-range" value="{{data_params['min_samples_leaf']}}" min="0" max="{{data_params['nrows']//2}}" step="5" oninput="updateParams(this)" disabled>
                    <br>
                    <label for="max_features" class="form-label">Max features used per tree <span id="maxfeats_badge" class="badge rounded-pill bg-secondary">{{data_params['ncols']//10}}</span> </label>
                    <input id="max_features" name="max_features" type="range" class="form-range" value={{data_params['ncols']//10}} min="1" max={{data_params['ncols']}} step="1" oninput="updateParams(this)" disabled>
                    <br>
                </form>
                <button class="btn btn-primary" onclick="submitParams()">Build</button>
            </div>
        </div>
        <div class="column col-lg-8">
            <H4>Model details &nbsp; <div id="spinner" class="text-primary"></div></H4>
            <div id="model_info"></div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <H4>Further info</H4>
        <div class="column col-lg-1"></div>
        <div class="column col-lg-10">
            <div class="row">
                <div id="data_fig"></div>
            </div>
            <div class="row">
                <div id="progress_fig"></div>
            </div>
        </div>
        <div class="column col-lg-1"></div>
    </div>
    <hr/>
    <br/>
    <br/>
</div>

<!-- custom js -->
<script type="text/javascript" src="./static/data_preparation.js"></script>

<script>
    // update page with requested parameters
    let params = {{ data_params|tojson }};
    updateTable();
</script>

{% endblock %}